boto3
botocore
elasticsearch
flatten-dict
jsonpickle
redisgraph-bulk-loader
pytest
PyYAML
git+https://github.com/helxplatform/dug@sort_pickle_lists
orjson
kg-utils==0.0.6
bmt==1.1.0
git+https://github.com/helxplatform/avalon.git@pydantic-upgrade
linkml-runtime==1.6.3
