elasticsearch==8.5.2
flatten-dict
jsonpickle
git+https://github.com/falkordb/falkordb-bulk-loader.git@v1.0.6
setuptools>=66
pytest
PyYAML
git+https://github.com/helxplatform/dug@new_bdc_parser
orjson==3.9.15
git+https://github.com/helxplatform/kg_utils.git@v0.0.10
git+https://github.com/helxplatform/python-stringcase@1.2.1
bmt==1.4.4
git+https://github.com/helxplatform/avalon.git@v1.1.0
h11>=0.16.0

